html, body {
    height 100%
}

body {
    position: relative
    margin 0
    background-color #333;
}

.logo {
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    max-width 400px
    height 200px
    margin auto
    text-align center
    outline 2px solid #444

    &::after {
        content ''
        display inline-block
        vertical-align middle
        height 200px
        width 0
    }

    &::before {
        display inline-block
        vertical-align middle
        font-size 200px
        outline 1px solid #666
        background-color #000
        color: #fff
    }

    appicon('disney-SS');

    @media (min-width: 300px) {
        appicon('disney-S');
    }

    @media (min-width: 400px) {
        appicon('disney-M');
    }

    @media (min-width: 500px) {
        appicon('disney-L');
    }
}
